*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.un
*.swp
*~
/app/release/*
*.vim
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
